<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>【FIM】</title>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.6.10/dist/vuetify.min.css" rel="stylesheet">
    <link href="./Content/base.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.10/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.17.4/dist/xlsx.full.min.js"></script>
    <script src="./Content/common.js"></script>
    <script src="./Content/getRealTime.js"></script>
    <style>
        .highlight-cell {
            color: initial;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <v-container style="max-width: 95%;">
                <v-tabs> <!--vertical-->
                    <v-btn color="primary" @click="window.location.href=location.href+'?&sync=Y'">SYNC</v-btn>
                    <v-tab>
                        <v-icon left> mdi-account </v-icon>
                        Opt 1
                    </v-tab>
                    <v-tab>
                        <v-icon left> mdi-lock</v-icon>
                        Opt2
                    </v-tab>
                    <v-tab>
                        <v-icon left> mdi-access-point </v-icon>
                        配息
                    </v-tab>
                    <v-tab>
                        <v-icon left> mdi-access-point </v-icon>
                        明細
                    </v-tab>
                    <!-- 第一個 tab-->
                    <v-tab-item>
                        <v-card flat>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="4">
                                        <v-data-table hide-default-footer :headers="mydata_headers" :items="mydata"
                                            style="white-space: nowrap;" :items-per-page="50">
                                            <template v-slot:item.calculate="{ item }">
                                                <span v-show="item.Desc=='銀行'">
                                                    {{ mydata.filter(x=>x.Desc=='現金')[0].today
                                                    +mydata.filter(x=>x.Desc=='信用卡')[0].today
                                                    +mydata.filter(x=>x.Desc=='預備金')[0].today
                                                    +mydata.filter(x=>x.Desc=='銀行')[0].today
                                                    -300000
                                                    }}
                                                </span>
                                                <span v-show="item.Desc=='預備金'">
                                                    300000
                                                </span>
                                                <span v-show="item.Desc=='日幣'">
                                                    {{mydata.filter(x=>x.Desc=='日幣')[0].today}}
                                                </span>
                                                <span v-show="item.Desc=='投入'">
                                                    {{ parseInt(item.today)
                                                    +mydata.filter(x=>x.Desc=='invest_input')[0].N_1
                                                    +mydata.filter(x=>x.Desc=='invest_input')[0].N_2
                                                    -(mydata.filter(x=>x.Desc=='invest_output')[0].N_1-mydata.filter(x=>x.Desc=='income_loss')[0].N_1)
                                                    -(mydata.filter(x=>x.Desc=='invest_output')[0].N_2-mydata.filter(x=>x.Desc=='income_loss')[0].N_2)
                                                    }}
                                                </span>
                                                <span v-show="item.Desc=='可下單現金'">
                                                    {{ parseInt(item.today)+
                                                    -mydata.filter(x=>x.Desc=='invest_input')[0].N_1
                                                    -mydata.filter(x=>x.Desc=='invest_input')[0].N_2
                                                    +(mydata.filter(x=>x.Desc=='invest_output')[0].N_1)
                                                    +(mydata.filter(x=>x.Desc=='invest_output')[0].N_2)
                                                    +(mydata.filter(x=>x.Desc=='股息')[0].N_1)
                                                    +(mydata.filter(x=>x.Desc=='股息')[0].N_2)
                                                    }}
                                                </span>
                                                <span v-show="item.Desc=='Total'">

                                                </span>
                                            </template>
                                            <template v-slot:body.append>
                                                <tr class="sticky-table-footer">
                                                    <td></td>
                                                    <td> {{ mydata.filter(x=>x.Desc=='現金')[0].today
                                                        +mydata.filter(x=>x.Desc=='信用卡')[0].today
                                                        +mydata.filter(x=>x.Desc=='銀行')[0].today
                                                        +mydata.filter(x=>x.Desc=='預備金')[0].today
                                                        +mydata.filter(x=>x.Desc=='日幣')[0].today
                                                        +mydata.filter(x=>x.Desc=='投入')[0].today
                                                        +mydata.filter(x=>x.Desc=='可下單現金')[0].today
                                                        }}</td>
                                                    <td>{{stockdata_sum}}</td>
                                                    <td>={{
                                                        mydata.filter(x=>x.Desc=='現金')[0].today
                                                        +mydata.filter(x=>x.Desc=='信用卡')[0].today
                                                        +mydata.filter(x=>x.Desc=='銀行')[0].today
                                                        +mydata.filter(x=>x.Desc=='預備金')[0].today
                                                        +mydata.filter(x=>x.Desc=='日幣')[0].today
                                                        +mydata.filter(x=>x.Desc=='投入')[0].today
                                                        +mydata.filter(x=>x.Desc=='可下單現金')[0].today
                                                        +stockdata_sum
                                                        }}</td>


                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr class="sticky-table-footer">
                                                    <td>預期</td>
                                                    <td>股利:{{getRemainMonthsOfYear_profit}}</td>
                                                    <td>儲蓄:{{getRemainMonthsOfYear_cash}}</td>
                                                    <td colspan="2">餘{{
                                                        mydata.filter(x=>x.Desc=='現金')[0].today
                                                        +mydata.filter(x=>x.Desc=='信用卡')[0].today
                                                        +mydata.filter(x=>x.Desc=='銀行')[0].today
                                                        +mydata.filter(x=>x.Desc=='預備金')[0].today
                                                        +mydata.filter(x=>x.Desc=='日幣')[0].today
                                                        +mydata.filter(x=>x.Desc=='投入')[0].today
                                                        +mydata.filter(x=>x.Desc=='可下單現金')[0].today
                                                        +getRemainMonthsOfYear_profit
                                                        +getRemainMonthsOfYear_cash
                                                        }}
                                                    </td>
                                                </tr>
                                                <tr class="sticky-table-footer">
                                                    <td></td>
                                                    <td></td>
                                                    <td />
                                                    <td>餘:{{
                                                        mydata.filter(x=>x.Desc=='現金')[0].today
                                                        +mydata.filter(x=>x.Desc=='信用卡')[0].today
                                                        +mydata.filter(x=>x.Desc=='銀行')[0].today
                                                        +mydata.filter(x=>x.Desc=='預備金')[0].today
                                                        +mydata.filter(x=>x.Desc=='日幣')[0].today
                                                        +mydata.filter(x=>x.Desc=='投入')[0].today
                                                        +mydata.filter(x=>x.Desc=='可下單現金')[0].today
                                                        +getRemainMonthsOfYear_profit
                                                        +getRemainMonthsOfYear_cash
                                                        
                                                        }}</td>
                                                </tr>
                                            </template>
                                        </v-data-table>
                                    </v-col>
                                    <v-col cols="8">
                                        <v-data-table hide-default-footer :headers="stock_headers"
                                            :items="stockdata.filter(x=>x.Desc!='total')" style="white-space: nowrap;"
                                            :items-per-page="50">
                                            <template v-slot:item.number="{ item }">
                                                <v-btn text @click="openDialog(item)">
                                                    {{ item.name }} {{ item.number }}
                                                </v-btn>
                                            </template>
                                            <template v-slot:item.calculate_1="{ item }">
                                                {{ ((item.now-item.buyin)/item.buyin*100).toFixed(1)}}
                                            </template>
                                            <template v-slot:item.calculate_2="{ item }">
                                                {{ parseInt(item.now*item.hold)}}
                                            </template>
                                            <template v-slot:item.calculate_3="{ item }">
                                                {{ parseInt(item.buyin*item.hold)}}
                                            </template>
                                            <template v-slot:item.calculate_4="{ item }">
                                                {{parseInt((item.now*item.hold)-(item.buyin*item.hold))}}
                                            </template>
                                            <template v-slot:item.calculate_5="{ item }">
                                                {{(parseFloat(item.profit)*parseInt(item.frequency)/
                                                parseFloat(item.now)*100).toFixed(1)}}
                                            </template>
                                            <template v-slot:item.calculate_6="{ item }">
                                                {{parseFloat(item.hold/10 * item.now *item.profit_stock).toFixed(0)}}
                                            </template>
                                            <template v-slot:item.calculate_7="{ item }">
                                                {{(item.hold* item.frequency *item.profit).toFixed(0)}}
                                            </template>
                                            <template v-slot:item.calculate_8="{ item }">
                                                {{(item.hold*item.profit).toFixed(0)}}
                                            </template>
                                            <template v-slot:body.append>
                                                <tr class="sticky-table-footer">
                                                    <td />
                                                    <td />
                                                    <td />
                                                    <td />
                                                    <td>{{parseFloat(100*stockdata_sum/stockdata_input).toFixed(2)}}%
                                                    </td>
                                                    <td>{{stockdata_input}}
                                                        <BR />
                                                        ({{stockdata_input+stockdata_sum}})
                                                    </td>
                                                    <td>{{stockdata_sum}}</td>

                                                </tr>
                                            </template>
                                        </v-data-table>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                    <!-- 第二個 tab-->
                    <v-tab-item>
                        <v-card flat>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12">
                                        <v-data-table hide-default-footer :headers="headers" :items="report"
                                            style="white-space: nowrap;" :items-per-page="50">
                                            <template v-slot:[`item.${currentym}`]="{ item }">
                                                <span :class="class_current_ym(currentym, item)">
                                                    {{ item[currentym] }}
                                                </span>
                                            </template>
                                            <template v-slot:item.calculate="{ item }">
                                                <span v-show="item.Desc=='月餘'">
                                                    {{sumTargetData(item)}}
                                                </span>
                                            </template>
                                        </v-data-table>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                    <!-- 第三個 tab-->
                    <v-tab-item>
                        <v-card flat>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12">
                                        <v-data-table hide-default-footer :headers="stock_headers_profit"
                                            :items="stockdata" style="white-space: nowrap;" :items-per-page="50">
                                            <template v-slot:item.calculate_8="{ item }">
                                                {{(item.hold*item.profit).toFixed(0)}}
                                            </template>
                                            <template v-slot:[`item.${header.value}`]="{ item }"
                                                v-for="header in getYM().map(x => ({ text: x, value: x }))"
                                                :key="header.value">
                                                <span :class="class_current_ym(header.value)">
                                                    {{item[header.value]}}
                                                </span>
                                            </template>
                                        </v-data-table>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                    <!-- 第四個 tab-->
                    <v-tab-item>
                        <v-card flat>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12">
                                        <v-data-table hide-default-footer :headers="headers" :items="maindata_input"
                                            style="white-space: nowrap;" :items-per-page="50">

                                            <template v-slot:[`item.${currentym}`]="{ item }">
                                                <span :class="class_current_ym(currentym, item)">
                                                    {{ item[currentym] }}
                                                </span>
                                            </template>
                                            <template v-slot:item.calculate="{ item }">
                                                {{sumTargetData(item)}}
                                            </template>
                                            <template v-slot:item.bymonth="{ item }">
                                                {{parseInt(sumTargetData(item)/12)}}
                                            </template>
                                        </v-data-table>
                                        <br />
                                        <v-data-table hide-default-footer :headers="headers" :items="maindata_output"
                                            style="white-space: nowrap;" :items-per-page="50">
                                            <template v-slot:[`item.${currentym}`]="{ item }">
                                                <span :class="class_current_ym(currentym, item)">
                                                    {{ item[currentym] }}
                                                </span>
                                            </template>
                                            <template v-slot:item.calculate="{ item }">
                                                {{sumTargetData(item)}}
                                            </template>
                                            <template v-slot:item.bymonth="{ item }">
                                                {{parseInt(sumTargetData(item)/12)}}
                                            </template>
                                        </v-data-table>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                </v-tabs>
            </v-container>
            <v-dialog v-model="dialog" max-width="40vw">
                <v-card>
                    <v-card-title class="headline">{{ selectedItem?.number }}</v-card-title>
                    <v-card-text style="padding: 10px; height:30vh;">
                        <v-row>
                            <v-col>Hold : {{ selectedItem?.hold }}</v-col>
                            <v-col>Now : {{ selectedItem?.now }}</v-col>
                            <v-col>買均: {{ selectedItem?.buyin }}
                                ({{ ((selectedItem?.now-selectedItem?.buyin)/selectedItem?.buyin*100).toFixed(1)}})
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>add : {{selectedItem_add }}</v-col>
                            <v-col>Now : {{ selectedItem?.now }}</v-col>
                            <v-col>AVG : {{
                                ( parseInt((selectedItem?.hold * selectedItem?.buyin)+
                                (selectedItem_add*selectedItem?.now))
                                /(parseInt(selectedItem_add)+parseInt(selectedItem?.hold)) ).toFixed(2)
                                }}
                                ({{( (selectedItem?.now -
                                ( parseInt((selectedItem?.hold * selectedItem?.buyin)+
                                (selectedItem_add*selectedItem?.now))
                                /(parseInt(selectedItem_add)+parseInt(selectedItem?.hold)) ).toFixed(2))
                                /
                                ( parseInt((selectedItem?.hold * selectedItem?.buyin)+
                                (selectedItem_add*selectedItem?.now))
                                /(parseInt(selectedItem_add)+parseInt(selectedItem?.hold)) ).toFixed(2)*100).toFixed(1)

                                }})
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col></v-col>
                            <v-col></v-col>
                            <v-col>Total {{ parseInt((selectedItem?.hold * selectedItem?.buyin)+
                                (selectedItem_add*selectedItem?.now)) }}</v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-text-field v-model="selectedItem_add" clearable label="購買股數"
                                    variant="outlined"></v-text-field>
                            </v-col>
                            <v-col> ADD Cost :{{(selectedItem_add*selectedItem?.now)}}</v-col>
                            <v-col>最低賣價(有賺股利)
                                {{parseFloat(
                                (parseInt((selectedItem?.hold * selectedItem?.buyin)+
                                (selectedItem_add*selectedItem?.now)) +
                                (selectedItem?.hold*selectedItem?.frequency)+(selectedItem?.hold/10 *
                                selectedItem?.now *selectedItem?.profit_stock))
                                /(parseInt(selectedItem_add)+parseInt(selectedItem?.hold))
                                ).toFixed(2)
                                }}
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-text-field v-model="selectedItem_price" clearable label="賣價"
                                    variant="outlined"></v-text-field>
                            </v-col>
                            <v-col>
                                預期賺
                                <br />
                                {{
                                parseInt(
                                (
                                ( selectedItem_price-
                                (
                                parseInt((selectedItem?.hold *
                                selectedItem?.buyin)+(selectedItem_add*selectedItem?.now))
                                /(parseInt(selectedItem_add)+parseInt(selectedItem?.hold))
                                ).toFixed(2)
                                )
                                /
                                (
                                parseInt((selectedItem?.hold *
                                selectedItem?.buyin)+(selectedItem_add*selectedItem?.now))
                                /(parseInt(selectedItem_add)+parseInt(selectedItem?.hold))
                                ).toFixed(2)
                                )*(parseInt(selectedItem_add)+parseInt(selectedItem?.hold)) * selectedItem?.buyin
                                )
                                }}
                            </v-col>
                        </v-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" text @click="dialog = false">Close</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-app>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    sync: false,
                    realtimedata: [],
                    dialog: false,
                    selectedItem: null,
                    selectedItem_add: null,
                    selectedItem_price: null,
                    mydata: [],
                    mydata_headers: [
                        { text: 'Desc', value: 'Desc', align: 'left' },
                        { text: '', value: 'today', align: 'left' },
                        { text: 'N_1', value: 'N_1', align: 'left' },
                        { text: 'N_2', value: 'N_2', align: 'left' },
                        { text: 'calculate', value: 'calculate', align: 'left' },
                    ],
                    maindata_intput: [],
                    maindata_output: [],
                    report: [],
                    headers: [
                        { text: 'Desc', value: 'Desc', align: 'left', sortable: true },
                        { text: '202601', value: '202601', align: 'left', sortable: true },
                        { text: '202602', value: '202602', align: 'left', sortable: true },
                        { text: '202603', value: '202603', align: 'left', sortable: true },
                        { text: '202604', value: '202604', align: 'left', sortable: true },
                        { text: '202605', value: '202605', align: 'left', sortable: true },
                        { text: '202606', value: '202606', align: 'left', sortable: true },
                        { text: '202607', value: '202607', align: 'left', sortable: true },
                        { text: '202608', value: '202608', align: 'left', sortable: true },
                        { text: '202609', value: '202609', align: 'left', sortable: true },
                        { text: '202610', value: '202610', align: 'left', sortable: true },
                        { text: '202611', value: '202611', align: 'left', sortable: true },
                        { text: '202612', value: '202612', align: 'left', sortable: true },
                        { text: 'calculate', value: 'calculate', align: 'left' },
                        { text: 'byMonth', value: 'bymonth', align: 'left' },
                    ],
                    stockdata: [],
                    stock_headers: [
                        //{ text: 'name', value: 'name', align: 'left', sortable: true },
                        { text: 'number', value: 'number', align: 'left', sortable: true },
                        { text: 'hold', value: 'hold', align: 'left', sortable: true },
                        { text: 'now', value: 'now', align: 'left', sortable: true },
                        { text: 'buyin', value: 'buyin', align: 'left', sortable: true },
                        { text: '%', value: 'calculate_1', align: 'left' },
                        //{ text: '', value: 'calculate_2', align: 'left' },
                        { text: '', value: 'calculate_3', align: 'left' },
                        { text: '', value: 'calculate_4', align: 'left' },
                        { text: '配股', value: 'profit_stock', align: 'left', sortable: true },
                        { text: '配息', value: 'profit', align: 'left', sortable: true },
                        { text: 'freq', value: 'frequency', align: 'left', sortable: true },
                        { text: '配息%', value: 'calculate_5', align: 'left' },
                        { text: '', value: 'calculate_6', align: 'left' },
                        { text: '總發放', value: 'calculate_7', align: 'left' },
                        { text: '單次發放', value: 'calculate_8', align: 'left' },

                    ],
                    stock_headers_profit: [
                        { text: 'name', value: 'name', align: 'left', sortable: true },
                        { text: 'number', value: 'number', align: 'left', sortable: true },
                        { text: 'month', value: 'month', align: 'left', sortable: true },
                        { text: '單次發放', value: 'calculate_8', align: 'left' },
                    ],
                    currentym: '',
                };
            },
            created() {
                this.url = window.location.href.split('/').slice(0, 4).join('/') + '/Html/';
                let urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('sync')) {
                    this.sync = urlParams.get('sync') == 'Y';
                }
                this.set_maindata();
                this.set_mydata();
                this.set_stockdata();
                this.init();
            },
            computed: {
                stockdata_input() {
                    return this.stockdata.map(item => parseInt(item.buyin * item.hold) || 0).reduce((acc, current) => acc + current, 0)
                },
                stockdata_sum() {
                    return this.stockdata.map(item => parseInt((item.now * item.hold) - (item.buyin * item.hold)) || 0).reduce((acc, current) => acc + current, 0)
                },
                getRemainMonthsOfYear_profit() {
                    //本月起取到本年度最後一個月的所有月份 計算股利
                    var data = 0;
                    this.getRemainMonthsOfYear().forEach(x => {
                        data += this.stockdata.filter(x => x.Desc == 'total')[0][x]
                    })

                    return data;
                },
                getRemainMonthsOfYear_cash() {

                    //本月起取到本年度最後一個月的所有月份 可存下的錢
                    var data = 0;
                    var lastYMCash = 0;
                    this.getRemainMonthsOfYear().forEach(x => {
                        data += parseInt(this.report.filter(x => x.Desc == '儲蓄')[0][x] || 0)
                    })
                    debugger;
                    if (data != 0)
                        lastYMCash = this.report.filter(x => x.Desc == '現金')[0][this.getRemainMonthsOfYear().slice(-1)[0]]
                    return lastYMCash - data;
                }
            },
            methods: {
                class_current_ym(item) {
                    if (item == this.currentym) {
                        return 'highlight-cell'
                    }
                    return ''
                },
                sumTargetData(item) {
                    return Object.values(item).map(x => parseInt(x) || 0).reduce((acc, current) => acc + current, 0)
                },
                openDialog(item) {
                    this.selectedItem = item;
                    this.selectedItem_add = 0;

                    this.dialog = true;
                },
                async init() {
                    if (this.sync) {
                        await this.sync_realtime();
                    }
                },
                async sync_realtime() {
                    var vm = this
                    try {
                        console.log('Starting the process...');
                        const result = await main(this.stockdata)
                            .then(result => {
                                console.log('Promise result:', result);   // 處理結果
                                vm.realtimedata = result

                                if (this.realtimedata.length > 0) {
                                    this.sync_data();
                                }
                            })
                    } catch (error) {
                        console.error('Error in init:', error);  // 捕獲初始化過程中的錯誤
                    }
                    console.log('done');  // 確保這個訊息在主流程完成後顯示
                },
                sync_data() {
                    this.stockdata.forEach(item => {
                        var a = item.name
                        //item.now = parseFloat(this.realtimedata.filter(x => x.c == item.stock_number)[0]?.z).toFixed(2);
                        item.now = parseFloat(this.realtimedata.filter(x => x.c == item.stock_number)[0]?.z) ? parseFloat(this.realtimedata.filter(x => x.c == item.stock_number)[0]?.z).toFixed(2) : item.now
                    })
                },
                getRemainMonthsOfYear() {
                    //本月起取到本年度最後一個月的所有月份
                    const now = new Date();
                    const year = now.getFullYear();
                    let startMonth = now.getMonth() + 1; // 1~12 月  
                    if (now.getDate() > 4) {
                        startMonth = now.getMonth() + 2; //多取一個月(發薪)
                    }
                    const months = [];
                    for (let m = startMonth; m <= 12; m++) {
                        months.push(`${year}${String(m).padStart(2, '0')}`);
                    }
                    return months;
                },
                getYM() {
                    const year = 2026;
                    const months = Array.from({ length: 12 }, (v, i) =>
                        `${year}${String(i + 1).padStart(2, '0')}`
                    );
                    return months
                },
                minus(desc, x,) {
                    var suminput = { "Desc": desc };
                    var getMonth = this.getYM()//Object.keys(x[0]).filter(x => x != 'Desc')
                    getMonth.forEach(item => {
                        var input = x.map(x => parseInt(x[item]) || 0)[0]
                        var output = x.map(x => parseInt(x[item]) || 0)[1]
                        suminput[item] = input - output;
                    })
                    x.push(suminput)
                    return x
                },
                sumdata(desc, x) {
                    var suminput = { "Desc": desc };
                    var getMonth = this.getYM()
                    getMonth.forEach(item => {
                        suminput[item] = x.map(x => parseInt(x[item]) || 0).reduce((acc, current) => acc + current, 0);
                    })
                    x.push(suminput)
                    return x
                },
                set_maindata() {
                    // 【INPUT】
                    this.maindata_input = [
                        //{ "Desc": "預設", "202601": "0", "202602": null, "202603": null, "202604": null, "202605": null, "202606": null, "202607": null, "202608": null, "202609": null, "202610": null, "202611": null, "202612": null },
                        { "Desc": "薪", "202601": "69679", "202602": "69679", "202603": "68173", "202604": "67269", "202605": "0", "202606": "0", "202607": "0", "202608": "0", "202609": "0", "202610": "0", "202611": "0", "202612": "0" },
                        { "Desc": "獎金", "202601": "0", "202602": 72300, "202603": null, "202604": null, "202605": "0", "202606": null, "202607": null, "202608": null, "202609": null, "202610": "0", "202611": null, "202612": "" },
                        { "Desc": "獎金2", "202601": "0", "202602": 50000, "202603": null, "202604": null, "202605": null, "202606": null, "202607": null, "202608": null, "202609": null, "202610": null, "202611": null, "202612": "" },
                        { "Desc": "Other", "202601": 0, "202602": null, "202603": null, "202604": null, "202605": 853985, "202606": null, "202607": null, "202608": null, "202609": null, "202610": null, "202611": null, "202612": "" },

                    ]
                    this.maindata_input = this.sumdata("sum收入", this.maindata_input);
                    this.report.push(this.maindata_input.filter(x => x.Desc == "sum收入")[0])
                    // 【OUTPUT】
                    this.maindata_output = [
                        { "Desc": "生活-LPP", "202601": "2000", "202602": "8000", "202603": "5000", "202604": "5000", "202605": "11000", "202606": "9000", "202607": "8000", "202608": "8000", "202609": "8000", "202610": "8000", "202611": "8000", "202612": "8000" },
                        { "Desc": "生活", "202601": "2597", "202602": "9320", "202603": "29079", "202604": "423", "202605": "10167", "202606": "13397", "202607": "3600", "202608": "3600", "202609": "3600", "202610": "3600", "202611": "3600", "202612": "3600" },
                        { "Desc": "固-3C影音", "202601": "3166", "202602": "1188", "202603": "3186", "202604": "1188", "202605": "1188", "202606": "3804", "202607": "2500", "202608": "2500", "202609": "2500", "202610": "2500", "202611": "2500", "202612": "2500" },
                        { "Desc": "固-阿罵", "202601": null, "202602": "66880", "202603": null, "202604": 1100, "202605": null, "202606": "2166", "202607": null, "202608": null, "202609": null, "202610": null, "202611": null, "202612": 10000 },
                        { "Desc": "固-車", "202601": "2140", "202602": "2449", "202603": "3963", "202604": "1752", "202605": "1707", "202606": "1306", "202607": "3000", "202608": "3000", "202609": "3000", "202610": "3000", "202611": "3000", "202612": "3000" },
                        { "Desc": "固-車稅/保養", "202601": null, "202602": null, "202603": null, "202604": "4320", "202605": null, "202606": "4770", "202607": "17314", "202608": null, "202609": null, "202610": null, "202611": null, "202612": "12000" },
                        { "Desc": "固-稅", "202601": null, "202602": null, "202603": null, "202604": null, "202605": "3652", "202606": "9694", "202607": null, "202608": null, "202609": null, "202610": null, "202611": null, "202612": null },
                        { "Desc": "3C產品", "202601": 8280, "202602": null, "202603": null, "202604": null, "202605": 1550, "202606": "4680", "202607": null, "202608": null, "202609": null, "202610": null, "202611": null, "202612": null },
                        { "Desc": "運動", "202601": "13400", "202602": "9800", "202603": 8400, "202604": 5140, "202605": null, "202606": null, "202607": "10000", "202608": "10000", "202609": "10000", "202610": "10000", "202611": "10000", "202612": "10000" },
                        { "Desc": "購物/娛樂", "202601": "5699", "202602": "19300", "202603": "23495", "202604": "6371", "202605": "15974", "202606": "13850", "202607": "5000", "202608": "5000", "202609": "5000", "202610": "5000", "202611": "5000", "202612": "5000" },
                        { "Desc": "旅", "202601": null, "202602": null, "202603": null, "202604": null, "202605": null, "202606": null, "202607": null, "202608": null, "202609": null, "202610": null, "202611": null, "202612": null },
                    ]
                    //Now
                    var current = [
                        { Desc: '生活', value: null },
                        { Desc: '生活-LPP', value: 6000 },
                        { Desc: '購物/娛樂', value: null },

                        { Desc: '固-車稅/保養', value: null },                           
                        { Desc: '固-車', value: null },

                        { Desc: '固-3C影音', value: 1825 },
                        
                        { Desc: '3C產品', value: null },

                        { Desc: '固-稅', value: null },
                        { Desc: '運動', value: 434 },                                                     
                        { Desc: '固-阿罵', value: null },

                        { Desc: '旅', value: null },
                    ]
                    this.currentym = '202607'

                    current.forEach(current => {
                        this.maindata_output.find(x => x.Desc == current.Desc)[this.currentym] = current.value
                    })

                    this.maindata_output = this.sumdata("sum支出", this.maindata_output);
                    this.report.push(this.maindata_output.filter(x => x.Desc == "sum支出")[0])

                    this.report = this.minus("月餘", this.report);
                    //【Savings】
                    this.maindata_savings = { "Desc": "儲蓄", "202604": "-0", }
                    this.report.push(this.maindata_savings)
                    this.maindata_cash = { "Desc": "現金", }
                    var sum = 0
                    this.getYM().forEach(item => {
                        sum += parseInt(this.report.filter(x => x.Desc == '月餘')[0][item] || 0)
                        sum += parseInt(this.maindata_savings[item] || 0)
                        this.maindata_cash[item] = sum
                    })
                    this.report.push(this.maindata_cash)
                },
                set_mydata() {
                    this.mydata = [
                        { "Desc": "invest_input", "N_1": null , "N_2": null },//買進   
                        { "Desc": "invest_output", "N_1": null, "N_2": null },//賣出 
                        { "Desc": "income_loss", "N_1": null, "N_2": null },//損益   
                        { "Desc": "股息", "N_1": null, "N_2": null }, 
                        { "Desc": "現金", "today": 2750 },   
                        { "Desc": "信用卡", "today": -25180 },
                        { "Desc": "銀行", "today": 874024 },
                        { "Desc": "預備金", "today": 331748 },
                        { "Desc": "日幣", "today": 21776 },
                        { "Desc": "投入", "today": 3290975 },
                        { "Desc": "可下單現金", "today": 1407820 },
                        { "Desc": "Total", "today": null }
                    ]
                },
                set_stockdata() {
                    this.stockdata = [
                        { "Type2": "上市", "name": null, "number": '009819', "hold": 4000, "now": 10.08, "buyin": 10.8, "profit_stock": null, "profit":0, "frequency": 1, "month": 6 },
                        { "Type2": "上市", "name": "台泥", "number": 1101, "hold": 53000, "now": 23.65, "buyin": 27, "profit_stock": null, "profit": 0.8, "frequency": 1, "month": 6 },
                        { "Type2": "上櫃", "name": "宏佳騰", "number": 1599, "hold": 12000, "now": 23.65, "buyin": 28.91, "profit_stock": null, "profit": 0.5, "frequency": 1, "month": 9 },
                        { "Type2": "上市", "name": "橋椿", "number": 2062, "hold": 59000, "now": 19.25, "buyin": 23.71, "profit_stock": null, "profit": 1, "frequency": 1, "month": 8 },
                        { "Type2": "上市", "name": "台積電", "number": 2330, "hold": 10, "now": 2455, "buyin": 2419.06, "profit_stock": null, "profit": 1, "frequency": 1, "month": "" },                    
                        { "Type2": "上市", "name": "富世達", "number": 6805, "hold": 50, "now": 1640, "buyin": 1829.13, "profit_stock": null, "profit": 1, "frequency": 1, "month": "" },
                       
                        // { "Type2": "上市", "name": "京元電子", "number": 2449, "hold": 300, "now": 318, "buyin": 330.08, "profit_stock": null, "profit": 1, "frequency": 1, "month": "" }, 
                        //{ "Type2": "上櫃", "name": "元太", "number": 8069, "hold": 5000, "now": 231, "buyin": 167.11, "profit_stock": null, "profit": 5.9, "frequency": 1, "month": "" },
                        
                        //{ "Type2": "上市", "name": null, "number": '0052', "hold": 0, "now": 50.2, "buyin": 50.2, "profit_stock": null, "profit": 1.199, "frequency": 1, "month": "4" },
                        //{ "Type2": "上市", "name": null, "number": '0050', "hold": 0, "now": 79.2, "buyin": 71.9, "profit_stock": null, "profit": 1, "frequency": 2, "month": "1,7" },
                        //{ "Type2": "上市", "name": null, "number": '006208', "hold": 0, "now": 183.6, "buyin": 166.5, "profit_stock": null, "profit": 2.07, "frequency": 2, "month": "1,7" },
                        //{ "Type2": "上市", "name": null, "number": '0056', "hold": 0, "now": 39.02, "buyin": 37.52, "profit_stock": null, "profit": 1, "frequency": 4, "month": "1,4,7,10" },
                        //{ "Type2": "上市", "name": null, "number": '00713', "hold": 0, "now": 52.3, "buyin": 51.7, "profit_stock": null, "profit": 0.78, "frequency": 4, "month": "3,6,9,12" },
                        //{ "Type2": "上市", "name": null, "number": '00878', "hold": 0, "now": 22.92, "buyin": 22.7, "profit_stock": null, "profit": 0.4, "frequency": 4, "month": "2,5,8,11" },
                    ]
                    this.stock_headers_profit.push(...this.getYM().map(x => ({ text: x, value: x })));
                    this.stockdata.forEach(item => {
                        //處理配息約一個月後入賬
                        var happenMonth = item.month.toString().split(',').map(m => (parseInt(m) + 1).toString().padStart(2, '0'))
                        if (happenMonth.indexOf('13') > 1) {
                            happenMonth = happenMonth.concat('01')
                        }
                        this.getYM().forEach(YM => {
                            if (happenMonth.indexOf(YM.slice(-2)) != -1) {
                                item[YM] = (item.hold * item.profit).toFixed(0)
                            }
                        })
                    })
                    this.stockdata = this.sumdata("total", this.stockdata);
                    this.stockdata.map(x => x.stock_number = x.number)
                },
            },
        });
    </script>
</body>

</html>