<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>【FIM】</title>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.6.10/dist/vuetify.min.css" rel="stylesheet">
    <link href="./Content/base.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.10/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.17.4/dist/xlsx.full.min.js"></script>
    <script src="./Content/common.js"></script>
    <script src="./Content/getRealTime.js"></script>
</head>

<body>
    <div id="app">
        <v-app>
            <v-container style="max-width: 95%;">
                <v-row>
                    <v-col cols="3">
                        <v-data-table hide-default-footer :headers="mydata_headers" :items="mydata"
                            style="white-space: nowrap;" :items-per-page="50">
                            <template v-slot:item.calculate="{ item }">
                                <span v-show="item.Desc=='銀行'">
                                    {{ mydata.filter(x=>x.Desc=='現金')[0].today
                                    +mydata.filter(x=>x.Desc=='信用卡')[0].today
                                    +mydata.filter(x=>x.Desc=='預備金')[0].today
                                    +mydata.filter(x=>x.Desc=='銀行')[0].today
                                    -300000
                                    }}
                                </span>
                                <span v-show="item.Desc=='預備金'">
                                    300000
                                </span>
                                <span v-show="item.Desc=='投入'">
                                    {{ parseInt(item.today)
                                    +mydata.filter(x=>x.Desc=='invest_input')[0].N_1
                                    +mydata.filter(x=>x.Desc=='invest_input')[0].N_2
                                    -mydata.filter(x=>x.Desc=='invest_output')[0].N_1
                                    -mydata.filter(x=>x.Desc=='invest_output')[0].N_2
                                    +mydata.filter(x=>x.Desc=='income_loss')[0].N_1
                                    +mydata.filter(x=>x.Desc=='income_loss')[0].N_2
                                    }}
                                </span>
                                <span v-show="item.Desc=='下單'">
                                    {{ parseInt(item.today)+
                                    -mydata.filter(x=>x.Desc=='invest_input')[0].N_1
                                    -mydata.filter(x=>x.Desc=='invest_input')[0].N_2
                                    +mydata.filter(x=>x.Desc=='invest_output')[0].N_1
                                    +mydata.filter(x=>x.Desc=='invest_output')[0].N_2
                                    }}
                                </span>
                                <span v-show="item.Desc=='Total'">
                                    {{ mydata.filter(x=>x.Desc=='現金')[0].today
                                    +mydata.filter(x=>x.Desc=='信用卡')[0].today
                                    +mydata.filter(x=>x.Desc=='銀行')[0].today
                                    +mydata.filter(x=>x.Desc=='預備金')[0].today
                                    +mydata.filter(x=>x.Desc=='投入')[0].today
                                    +mydata.filter(x=>x.Desc=='下單')[0].today
                                    }}
                                </span>
                            </template>
                            <template v-slot:body.append>
                                <tr class="sticky-table-footer">
                                    <td />
                                    <td>{{stockdata_sum}}</td>
                                    <td>{{
                                        mydata.filter(x=>x.Desc=='現金')[0].today
                                        +mydata.filter(x=>x.Desc=='信用卡')[0].today
                                        +mydata.filter(x=>x.Desc=='銀行')[0].today
                                        +mydata.filter(x=>x.Desc=='預備金')[0].today
                                        +mydata.filter(x=>x.Desc=='投入')[0].today
                                        +mydata.filter(x=>x.Desc=='下單')[0].today
                                        +stockdata_sum
                                        }}</td>

                                </tr>
                            </template>

                        </v-data-table>
                        <br />
                    </v-col>
                    <v-col cols="9">
                        <v-data-table hide-default-footer :headers="headers" :items="maindata_input"
                            style="white-space: nowrap;" :items-per-page="50">
                            <template v-slot:item.calculate="{ item }">
                                {{Object.values(item).map(x=>parseInt(x)||0).reduce((acc, current) => acc + current,
                                0)}}
                            </template>
                            <template v-slot:item.bymonth="{ item }">
                                {{parseInt(Object.values(item).map(x=>parseInt(x)||0).reduce((acc, current) => acc +
                                current,
                                0)/12)}}
                            </template>
                        </v-data-table>
                        <br />
                        <v-data-table hide-default-footer :headers="headers" :items="maindata_output"
                            style="white-space: nowrap;" :items-per-page="50">
                            <template v-slot:item.calculate="{ item }">
                                {{Object.values(item).map(x=>parseInt(x)||0).reduce((acc, current) => acc + current,
                                0)}}
                            </template>
                            <template v-slot:item.bymonth="{ item }">
                                {{parseInt(Object.values(item).map(x=>parseInt(x)||0).reduce((acc, current) => acc +
                                current,
                                0)/12)}}
                            </template>
                        </v-data-table>
                        <br />
                        <v-data-table hide-default-footer :headers="headers" :items="report"
                            style="white-space: nowrap;" :items-per-page="50">
                            <template v-slot:item.calculate="{ item }">
                                <span v-show="item.Desc=='月餘'">
                                    {{Object.values(item).map(x=>parseInt(x)||0).reduce((acc, current) => acc +
                                    current,0)}}
                                </span>
                            </template>
                        </v-data-table>

                    </v-col>
                </v-row>
                <br />
            </v-container>
            <v-container style="max-width: 30%; margin-left: 15%;">
            </v-container>
            <v-container style="max-width: 80%;">
                <v-data-table hide-default-footer :headers="stock_headers_profit" :items="stockdata"
                    style="white-space: nowrap;" :items-per-page="50">
                    <template v-slot:item.calculate_8="{ item }">
                        {{(item.hold*item.profit).toFixed(0)}}
                    </template>
                    <template v-slot:[`item.${header.value}`]="{ item }"
                        v-for="header in getYM().map(x => ({ text: x, value: x }))" :key="header.value">
                        {{item[header.value]}}
                    </template>
                </v-data-table>
            </v-container>
            <v-container style="max-width: 80%;">
                <v-data-table hide-default-footer :headers="stock_headers" :items="stockdata"
                    style="white-space: nowrap;" :items-per-page="50">
                    <template v-slot:item.number="{ item }">
                        <v-btn text @click="openDialog(item)">
                            {{ item.number }}
                        </v-btn>
                    </template>

                    <template v-slot:item.calculate_1="{ item }">
                        {{ ((item.now-item.buyin)/item.buyin*100).toFixed(1)}}
                    </template>
                    <template v-slot:item.calculate_2="{ item }">
                        {{ parseInt(item.now*item.hold)}}
                    </template>
                    <template v-slot:item.calculate_3="{ item }">
                        {{ parseInt(item.buyin*item.hold)}}
                    </template>
                    <template v-slot:item.calculate_4="{ item }">
                        {{parseInt((item.now*item.hold)-(item.buyin*item.hold))}}
                    </template>
                    <template v-slot:item.calculate_5="{ item }">
                        {{(parseFloat(item.profit)*parseInt(item.frequency)/ parseFloat(item.now)*100).toFixed(1)}}
                    </template>
                    <template v-slot:item.calculate_6="{ item }">
                        {{item.hold/10 * item.now *item.profit_stock}}
                    </template>
                    <template v-slot:item.calculate_7="{ item }">
                        {{(item.hold* item.frequency *item.profit).toFixed(0)}}
                    </template>
                    <template v-slot:item.calculate_8="{ item }">
                        {{(item.hold*item.profit).toFixed(0)}}
                    </template>
                    <template v-slot:body.append>
                        <tr class="sticky-table-footer">
                            <td />
                            <td />
                            <td />
                            <td />
                            <td />
                            <td />
                            <td />
                            <td>{{stockdata_input}}</td>
                            <td>{{stockdata_sum}}</td>
                        </tr>
                    </template>
                </v-data-table>


                <v-dialog v-model="dialog" max-width="40vw">
                    <v-card>
                        <v-card-title class="headline">{{ selectedItem?.number }}</v-card-title>
                        <v-card-text style="padding: 10px; height:30vh;">
                            <v-row>
                                <v-col>Hold : {{ selectedItem?.hold }}</v-col>
                                <v-col>Now : {{ selectedItem?.now }}</v-col>
                                <v-col>買均: {{ selectedItem?.buyin }}</v-col>
                            </v-row>
                            <v-row>
                                <v-col>add : {{selectedItem_add }}</v-col>
                                <v-col>Now : {{ selectedItem?.now }}</v-col>
                                <v-col>AVG : {{
                                    (parseInt((selectedItem?.hold * selectedItem?.buyin)+
                                    (selectedItem_add*selectedItem?.now))
                                    /(parseInt(selectedItem_add)+parseInt(selectedItem?.hold))
                                    ).toFixed(2)
                                    }}
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col></v-col>
                                <v-col></v-col>
                                <v-col>Total  {{ parseInt((selectedItem?.hold * selectedItem?.buyin)+
                                    (selectedItem_add*selectedItem?.now)) }}</v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-text-field v-model="selectedItem_add" clearable label="BUY"
                                        variant="outlined"></v-text-field>
                                </v-col>
                                <v-col> ADD Cost :{{(selectedItem_add*selectedItem?.now)}}</v-col>
                                <v-col>
                                    {{(parseInt((selectedItem?.hold * selectedItem?.buyin)+
                                    (selectedItem_add*selectedItem?.now)) +
                                    (selectedItem?.hold*selectedItem?.frequency)+(selectedItem?.hold/10 * selectedItem?.now *selectedItem?.profit_stock))
                                     /(parseInt(selectedItem_add)+parseInt(selectedItem?.hold))
                                    }}

                                </v-col>
                            </v-row>

                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" text @click="dialog = false">Close</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-container>
        </v-app>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    sync: false,
                    realtimedata: [],
                    dialog: false,
                    selectedItem: null,
                    selectedItem_add: null,
                    mydata: [],
                    mydata_headers: [
                        { text: 'Desc', value: 'Desc', align: 'left' },
                        { text: '', value: 'today', align: 'left' },
                        { text: 'N_1', value: 'N_1', align: 'left' },
                        { text: 'N_2', value: 'N_2', align: 'left' },
                        { text: 'calculate', value: 'calculate', align: 'left' },

                    ],
                    maindata_intput: [],
                    maindata_output: [],
                    report: [],
                    headers: [
                        { text: 'Desc', value: 'Desc', align: 'left', sortable: true },
                        { text: '202501', value: '202501', align: 'left', sortable: true },
                        { text: '202502', value: '202502', align: 'left', sortable: true },
                        { text: '202503', value: '202503', align: 'left', sortable: true },
                        { text: '202504', value: '202504', align: 'left', sortable: true },
                        { text: '202505', value: '202505', align: 'left', sortable: true },
                        { text: '202506', value: '202506', align: 'left', sortable: true },
                        { text: '202507', value: '202507', align: 'left', sortable: true },
                        { text: '202508', value: '202508', align: 'left', sortable: true },
                        { text: '202509', value: '202509', align: 'left', sortable: true },
                        { text: '202510', value: '202510', align: 'left', sortable: true },
                        { text: '202511', value: '202511', align: 'left', sortable: true },
                        { text: '202512', value: '202512', align: 'left', sortable: true },
                        { text: 'calculate', value: 'calculate', align: 'left' },
                        { text: 'byMonth', value: 'bymonth', align: 'left' },
                    ],
                    stockdata: [],
                    stock_headers: [
                        { text: 'name', value: 'name', align: 'left', sortable: true },
                        { text: 'number', value: 'number', align: 'left', sortable: true },
                        { text: 'hold', value: 'hold', align: 'left', sortable: true },
                        { text: 'now', value: 'now', align: 'left', sortable: true },
                        { text: 'buyin', value: 'buyin', align: 'left', sortable: true },
                        { text: '%', value: 'calculate_1', align: 'left' },
                        { text: '', value: 'calculate_2', align: 'left' },
                        { text: '', value: 'calculate_3', align: 'left' },
                        { text: '', value: 'calculate_4', align: 'left' },
                        { text: '配股', value: 'profit_stock', align: 'left', sortable: true },
                        { text: '配息', value: 'profit', align: 'left', sortable: true },
                        { text: 'frequency', value: 'frequency', align: 'left', sortable: true },

                        { text: '配息%', value: 'calculate_5', align: 'left' },
                        { text: '', value: 'calculate_6', align: 'left' },
                        { text: '總發放', value: 'calculate_7', align: 'left' },
                        { text: '單次發放', value: 'calculate_8', align: 'left' },

                    ],
                    stock_headers_profit: [
                        { text: 'name', value: 'name', align: 'left', sortable: true },
                        { text: 'number', value: 'number', align: 'left', sortable: true },
                        { text: 'month', value: 'month', align: 'left', sortable: true },
                        { text: '單次發放', value: 'calculate_8', align: 'left' },
                    ]
                };
            },
            created() {
                this.url = window.location.href.split('/').slice(0, 4).join('/') + '/Html/';
                let urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('sync')) {
                    this.sync = urlParams.get('sync') == 'Y';
                }
                this.set_maindata();
                this.set_mydata();
                this.set_stockdata();
                this.init();
            },
            computed: {
                stockdata_input() {
                    return this.stockdata.map(item => parseInt(item.buyin * item.hold) || 0).reduce((acc, current) => acc + current, 0)
                },
                stockdata_sum() {
                    return this.stockdata.map(item => parseInt((item.now * item.hold) - (item.buyin * item.hold)) || 0).reduce((acc, current) => acc + current, 0)
                }
            },
            methods: {
                openDialog(item) {
                    this.selectedItem = item;
                    this.selectedItem_add = 0;
                    
                    this.dialog = true;
                },
                async init() {
                    if (this.sync) {
                        await this.sync_realtime();
                    }
                },
                async sync_realtime() {
                    var vm = this
                    try {
                        console.log('Starting the process...');
                        const result = await main(this.stockdata)
                            .then(result => {
                                console.log('Promise result:', result);   // 處理結果
                                vm.realtimedata = result

                                if (this.realtimedata.length > 0) {
                                    this.sync_data();
                                }
                            })
                    } catch (error) {
                        console.error('Error in init:', error);  // 捕獲初始化過程中的錯誤
                    }
                    console.log('done');  // 確保這個訊息在主流程完成後顯示
                },
                sync_data() {
                    this.stockdata.forEach(item => {

                        item.now = (this.realtimedata.filter(x => x.c == item.stock_number)[0]?.z).toFixed(2);
                        //item.rt_price = ((this.realtimedata.filter(x => x.c == item.stock_number)[0]?.z / parseFloat(this.realtimedata.filter(x => x.c == item.stock_number)[0]?.y) - 1) * 100).toFixed(2);
                        //var vol = this.realtimedata.filter(x => x.c == item.stock_number)[0]?.v;
                        //item.rt_量 = (vol / parseFloat(item.max股數)).toFixed(1);
                    })
                },
                getYM() {
                    const year = 2025;
                    const months = Array.from({ length: 12 }, (v, i) =>
                        `${year}${String(i + 1).padStart(2, '0')}`
                    );
                    return months
                },
                minus(desc, x,) {
                    var suminput = { "Desc": desc };
                    var getMonth = this.getYM()//Object.keys(x[0]).filter(x => x != 'Desc')
                    getMonth.forEach(item => {
                        var input = x.map(x => parseInt(x[item]) || 0)[0]
                        var output = x.map(x => parseInt(x[item]) || 0)[1]
                        suminput[item] = input - output;
                    })
                    x.push(suminput)
                    return x
                },
                sumdata(desc, x) {
                    var suminput = { "Desc": desc };
                    var getMonth = this.getYM()// Object.keys(x[0]).filter(x => x != 'Desc')
                    getMonth.forEach(item => {
                        suminput[item] = x.map(x => parseInt(x[item]) || 0).reduce((acc, current) => acc + current, 0);
                    })
                    x.push(suminput)
                    return x
                },
                set_maindata() {
                    // 【INPUT】
                    this.maindata_input = [
                        { "Desc": "預設", "202501": "85000", "202502": null, "202503": null, "202504": null, "202505": null, "202506": null, "202507": null, "202508": null, "202509": null, "202510": null, "202511": null, "202512": null },
                        { "Desc": "薪", "202501": "67300", "202502": "67300", "202503": "67300", "202504": "67300", "202505": "69300", "202506": "64480", "202507": "69300", "202508": "69300", "202509": "69300", "202510": "69300", "202511": "69300", "202512": "69300" },
                        { "Desc": "獎金", "202501": "70300", "202502": null, "202503": null, "202504": null, "202505": "36150", "202506": null, "202507": null, "202508": null, "202509": null, "202510": "36150", "202511": null, "202512": "" },
                        { "Desc": "獎金2", "202501": "40000", "202502": null, "202503": null, "202504": null, "202505": null, "202506": null, "202507": null, "202508": null, "202509": null, "202510": null, "202511": null, "202512": "" },
                        //{ "Desc": "sum收入", "202501": "177600", "202502": "67300", "202503": "67300", "202504": "67300", "202505": "105450", "202506": "64480", "202507": "69300", "202508": "69300", "202509": "69300", "202510": "105450", "202511": "69300", "202512": "69300" },
                    ]
                    this.maindata_input = this.sumdata("sum收入", this.maindata_input);

                    this.report.push(this.maindata_input.filter(x => x.Desc == "sum收入")[0])
                    // 【OUTPUT】
                    this.maindata_output = [
                        { "Desc": "生活-LPP", "202501": "8000", "202502": "5000", "202503": "7000", "202504": "7000", "202505": "8500", "202506": "7000", "202507": "7000", "202508": "7000", "202509": "7000", "202510": "7000", "202511": "7000", "202512": "7000" },
                        { "Desc": "生活", "202501": "5000", "202502": "4000", "202503": "3000", "202504": "3500", "202505": "2894", "202506": "3000", "202507": "3000", "202508": "3000", "202509": "3000", "202510": "3000", "202511": "3000", "202512": "3000" },
                        { "Desc": "固-3C影音", "202501": "2000", "202502": "2000", "202503": "3000", "202504": "1700", "202505": "3594", "202506": "3000", "202507": "3000", "202508": "3000", "202509": "3000", "202510": "3000", "202511": "3000", "202512": "3000" },
                        { "Desc": "固-阿罵", "202501": "62000", "202502": "9000", "202503": "1800", "202504": "1000", "202505": null, "202506": null, "202507": null, "202508": null, "202509": null, "202510": null, "202511": null, "202512": "0" },
                        { "Desc": "固-車", "202501": "3500", "202502": "2000", "202503": "3500", "202504": "1680", "202505": "3500", "202506": "2000", "202507": "2000", "202508": "2000", "202509": "2000", "202510": "2000", "202511": "2000", "202512": "2000" },
                        { "Desc": "固-車稅/保養", "202501": null, "202502": null, "202503": null, "202504": "4320", "202505": null, "202506": "10000", "202507": "4770", "202508": "18000", "202509": null, "202510": null, "202511": null, "202512": "10000" },
                        { "Desc": "固-稅", "202501": null, "202502": null, "202503": null, "202504": null, "202505": "7168", "202506": null, "202507": null, "202508": null, "202509": null, "202510": null, "202511": null, "202512": "" },
                        { "Desc": "運動", "202501": "2400", "202502": "7400", "202503": null, "202504": null, "202505": null, "202506": null, "202507": "6400", "202508": null, "202509": null, "202510": null, "202511": null, "202512": "" },
                        { "Desc": "購物/娛樂", "202501": "10000", "202502": "7000", "202503": "5000", "202504": "13000", "202505": "10000", "202506": "8000", "202507": "5000", "202508": "6000", "202509": "40000", "202510": "5000", "202511": "5000", "202512": "5000" },
                        { "Desc": "旅", "202501": null, "202502": null, "202503": "7000", "202504": null, "202505": "6595", "202506": null, "202507": null, "202508": null, "202509": "36000", "202510": null, "202511": null, "202512": "0" },
                    ]
                    this.maindata_output = this.sumdata("sum支出", this.maindata_output);
                    this.report.push(this.maindata_output.filter(x => x.Desc == "sum支出")[0])

                    this.report = this.minus("月餘", this.report);
                    //【Savings】
                    this.maindata_savings = { "Desc": "儲蓄", "202502": "-200000", "202504": "-50000", "202505": "-50000", "202506": "-50000", "202507": null, "202508": "-50000", "202509": null, "202510": "-50000", "202511": "-50000", "202512": null }
                    this.report.push(this.maindata_savings)
                    this.maindata_cash = { "Desc": "現金", }
                    var sum = 0
                    this.getYM().forEach(item => {
                        sum += parseInt(this.report.filter(x => x.Desc == '月餘')[0][item] || 0)
                        sum += parseInt(this.maindata_savings[item] || 0)
                        this.maindata_cash[item] = sum
                    })
                    this.report.push(this.maindata_cash)
                },
                set_mydata() {
                    this.mydata = [
                        { "Desc": "invest_input", "N_1": 107900, "N_2": null },
                        { "Desc": "invest_output", "N_1": null, "N_2": null },
                        { "Desc": "income_loss", "N_1": null, "N_2": null },
                        //   
                        { "Desc": "現金", "today": 3200 },
                        { "Desc": "信用卡", "today": -3774 },
                        { "Desc": "銀行", "today": 39640 },
                        { "Desc": "預備金", "today": 303166 },
                        { "Desc": "投入", "today": 3060434 },
                        { "Desc": "下單", "today": 908373 },
                        { "Desc": "Total", "today": null }
                    ]
                },
                set_stockdata() {
                    this.stockdata = [
                        { "Type2": "上市", "name": null, "number": '0050', "hold": 0, "now": 177.15, "buyin": 179.86, "profit_stock": null, "profit": 2.07, "frequency": 2, "month": "1,7" },
                        { "Type2": "上市", "name": null, "number": '0056', "hold": 15000, "now": 33.79, "buyin": 35.17, "profit_stock": null, "profit": 1.07, "frequency": 4, "month": "1,4,7,10" },
                        { "Type2": "上市", "name": null, "number": '00878', "hold": 20000, "now": 20.24, "buyin": 21.64, "profit_stock": null, "profit": 0.47, "frequency": 4, "month": "2,5,8,11" },
                        { "Type2": "上市", "name": null, "number": '00929', "hold": 1000, "now": 17.01, "buyin": 18.85, "profit_stock": null, "profit": 0.07, "frequency": 12, "month": "1,2,3,4,5,6,7,8,9,10,11,12" },
                        { "Type2": "上市", "name": "台泥", "number": 1101, "hold": 19000, "now": 26.85, "buyin": 32.03, "profit_stock": null, "profit": 1, "frequency": 1, "month": 8 },
                        { "Type2": "上櫃", "name": " 宏佳騰", "number": 1599, "hold": 1000, "now": 28.85, "buyin": 35.35, "profit_stock": null, "profit": 0.5, "frequency": 1, "month": 9 },
                        { "Type2": "上市", "name": "橋椿", "number": 2062, "hold": 9000, "now": 24.4, "buyin": 30.75, "profit_stock": null, "profit": 1.8, "frequency": 1, "month": 7 },
                        { "Type2": "上市", "name": "光寶科", "number": 2301, "hold": 29, "now": 103.0, "buyin": 109.11, "profit_stock": null, "profit": 2.5, "frequency": 2, "month": "3,8" },
                        { "Type2": "上市", "name": " 錸德", "number": 2349, "hold": 32000, "now": 9.65, "buyin": 12.95, "profit_stock": null, "profit": null, "frequency": 0, "month": "" },
                        { "Type2": "上市", "name": " 技嘉", "number": 2376, "hold": 0, "now": 282.5, "buyin": 270.76, "profit_stock": null, "profit": 10, "frequency": 1, "month": 8 },
                        { "Type2": "上市", "name": " 興富發", "number": 2542, "hold": 10000, "now": 39.95, "buyin": 43.59, "profit_stock": 0.5, "profit": 2, "frequency": 1, "month": 9 },
                        { "Type2": "上櫃", "name": "李洲", "number": 3066, "hold": 11000, "now": 15.40, "buyin": 24.15, "profit_stock": null, "profit": null, "frequency": 0, "month": "" },
                        { "Type2": "上櫃", "name": "譜瑞-KY", "number": 4966, "hold": 184, "now": 547, "buyin": 702.76, "profit_stock": null, "profit": 8.93, "frequency": 2, "month": "3,8" },
                        { "Type2": "上市", "name": "采鈺", "number": 6789, "hold": 160, "now": 204, "buyin": 348.46, "profit_stock": null, "profit": 3, "frequency": 1, "month": 7 }
                    ]

                    this.stock_headers_profit.push(...this.getYM().map(x => ({ text: x, value: x })));

                    this.stockdata.forEach(item => {
                        //var happenMonth = item.month.toString().split(',').map(m => m.padStart(2, '0'))
                        //多取一個月
                        var happenMonth = item.month.toString().split(',').map(m => (parseInt(m) + 1).toString().padStart(2, '0'))
                        this.getYM().forEach(YM => {
                            if (happenMonth.indexOf(YM.slice(-2)) != -1) {
                                item[YM] = (item.hold * item.profit).toFixed(0)
                            }
                        })
                    })
                    this.stockdata = this.sumdata("total", this.stockdata);
                    this.stockdata.map(x => x.stock_number = x.number)
                }
            },
        });
    </script>
</body>

</html>
