<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分類解析</title>
    <!-- 引入 Vuetify 和 Vue.js -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.6.10/dist/vuetify.min.css" rel="stylesheet">
    <link href="./Content/base.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.10/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.17.4/dist/xlsx.full.min.js"></script>
    <script src="./Content/common.js"></script>
    <script src="./Content/getRealTime.js"></script>
    <style>
        .custom-table .v-data-table__wrapper {
            max-height: 350px;
            /* 控制資料區域高度，讓 headers 固定 */
            overflow-y: auto;
            /* 讓資料可以垂直捲動 */
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <v-container style="max-width: 95%;">
                <v-row no-gutters>
                    <v-col col="1">
                        <v-btn color="primary" @click="window.location.href=location.href +'&sync=Y'">SYNC</v-btn>
                    </v-col>
                    <v-col col="5">
                        <v-btn color="primary" @click="openNextPage(-1)" v-show="paraDate">last</v-btn>
                        <span> data count {{[...new Set( jsonData.map(obj => obj.stock_number)) ].length}}</span>
                        <v-btn color="primary" @click="openNextPage(1)" v-show="paraDate">Next</v-btn>
                    </v-col>
                    <v-col col="1">
                        <v-btn color="primary" @click="sortBy=['rt_price']">sortBy :rt_price</v-btn>
                    </v-col>
                    <v-col cols="3" style="display: flex; gap: 10px; align-items: center;">
                        <v-text-field v-model="filter1" label="短交易量" style="max-width: 150px;"></v-text-field>
                        <v-text-field v-model="filter2" label="遠交易量" style="max-width: 150px;"></v-text-field>
                        <v-btn color="primary" @click="actionFilter">Filter</v-btn>
                    </v-col>
                    <v-col col="1">
                        <v-btn color="primary" @click="jsonData=jsonData_.filter(x=>parseFloat(x._quote)>3)">_quote>3</v-btn>
                           <v-btn color="primary" @click="actionFilter2">dd>3</v-btn>
                    </v-col>
                </v-row>

                <!-- 篩選區域
                <v-expansion-panels>
                    <v-expansion-panel>
                        <v-expansion-panel-header>
                            <v-icon>mdi-filter</v-icon>
                            篩選條件
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-form>
                                <v-row>
                                    <v-col v-for="(header, index) in headers" :key="index" cols="12" md="4">
                                        {{ header.text }}
                                        <v-select v-if="!isNumberField(header.value)" v-model="filters[header.value]"
                                            :items="uniqueValues[header.value]" item-value="value" item-text="text"
                                            multiple solo>
                                        </v-select>
                                        <v-range-slider v-else v-model="filters[header.value]" :label="header.text"
                                            :min="getMinValue(header.value)" :max="getMaxValue(header.value)"
                                            hide-details ticks="always" tick-size="4" thumb-label>
                                        </v-range-slider>
                                    </v-col>
                                </v-row>
                            </v-form>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels> -->

                <div v-for="(type, index) in distinct_type" v-show="appmode">
                    {{type.Typelevel }} {{parseFloat(type.Volume_Price_Change_sum).toFixed(0)}}
                    <br>
                    <v-data-table disable-pagination fixed-header hide-default-footer :headers="appheaderData"
                        :items="appfilteredData(type.Typelevel )" :items-per-page="-1" item-key="id"
                        :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" style="white-space: nowrap; ">
                        <template v-slot:item.stock_number="{ item }">
                            <v-btn text @click="openDialog(item)">
                                {{ item.stock_number }} {{ item.Type0 }}
                            </v-btn>
                        </template>
                        <template v-slot:item.rt_price="{ item }">
                            <span style="color: rgb(124, 169, 173);"
                                v-show="realtimedata.filter(x=>x.c==item.stock_number)[0]?.a">
                                {{(((realtimedata.filter(x=>x.c==item.stock_number)[0]?.a / item.now_price)-1
                                )*100).toFixed(1)}}
                            </span>
                        </template>
                        <template v-slot:item.rt_量="{ item }">
                            <span style="color: rgb(124, 169, 173);"
                                v-show="realtimedata.filter(x=>x.c==item.stock_number)[0]?.a">
                                {{(realtimedata.filter(x=>x.c==item.stock_number)[0]?.v/parseFloat(item.成交股數)).toFixed(1)}}
                            </span>
                        </template>
                    </v-data-table>
                </div>

                <div v-for="(type, index) in distinct_type" v-show="!appmode"
                    style="max-height: 400px; overflow-x: auto;">
                    {{ type.Typelevel }}
                    【分類】
                    <a :href="computedHref2(type)" target="_blank" rel="noopener">
                        {{ sanitizedTypelevel(type) }}
                    </a>
                    {{parseFloat(type.Volume_Price_Change_sum).toFixed(0)}}
                    【太陽】
                    <a :href="computedHref(type)" target="_blank" rel="noopener">
                        {{ sanitizedTypelevel(type) }}
                    </a>
                    <span>
                        {{filteredData(type.Typelevel).filter(x=>x._quote>5).length}} /
                        {{filteredData(type.Typelevel).length}}
                    </span>

                    <br>
                    <v-data-table disable-pagination fixed-header hide-default-footer :headers="headers"
                        :items="filteredData(type.Typelevel)" :items-per-page="-1" item-key="id" :sort-by.sync="sortBy"
                        :sort-desc.sync="sortDesc" style="white-space: nowrap; min-width: 100%; max-height: 400px;"
                        class="custom-table">
                        <template v-slot:item.stock_number="{ item }">
                            <v-btn text @click="openDialog(item)">
                                {{ item.stock_number }} {{ item.Type0 }}
                            </v-btn>
                        </template>
                        <template v-slot:item.now_price="{ item }">
                            <v-btn text @click="openDialog(item)">
                                <span style="color: rgb(124, 169, 173);"
                                    v-show="realtimedata.filter(x=>x.c==item.stock_number)[0]?.g">

                                    {{realtimedata.filter(x=>x.c==item.stock_number)[0]?.g}} |
                                    {{realtimedata.filter(x=>x.c==item.stock_number)[0]?.b}}
                                </span>
                                {{ item.now_price }}
                                <span style="color: rgb(124, 169, 173);"
                                    v-show="realtimedata.filter(x=>x.c==item.stock_number)[0]?.g">
                                    {{realtimedata.filter(x=>x.c==item.stock_number)[0]?.a}}|
                                    {{realtimedata.filter(x=>x.c==item.stock_number)[0]?.f}}
                                </span>
                            </v-btn>
                        </template>

                        <template v-slot:item.rt_price="{ item }">
                            <span style="color: rgb(124, 169, 173);"
                                v-show="realtimedata.filter(x=>x.c==item.stock_number)[0]?.a">
                                {{(((realtimedata.filter(x=>x.c==item.stock_number)[0]?.a / item.now_price)-1
                                )*100).toFixed(1)}}
                            </span>
                        </template>
                        <template v-slot:item.rt_量="{ item }">
                            <span style="color: rgb(124, 169, 173);"
                                v-show="realtimedata.filter(x=>x.c==item.stock_number)[0]?.a">
                                {{(realtimedata.filter(x=>x.c==item.stock_number)[0]?.v/parseFloat(item.成交股數)).toFixed(1)}}
                            </span>
                        </template>

                        <template v-slot:item.成交股數="{ item }">
                            <v-btn text @click="openDialog(item)">
                                {{ item.成交股數 }} <span style="color: rgb(124, 169, 173);"
                                    v-show="realtimedata.filter(x=>x.c==item.stock_number)[0]?.g">
                                    ({{realtimedata.filter(x=>x.c==item.stock_number)[0]?.v}})</span>
                            </v-btn>
                        </template>


                        <template v-slot:column.data="{ item, column }">
                            {{ item[column.value] }}
                        </template>
                    </v-data-table>
                </div>


                <!-- 弹出窗口 -->
                <v-dialog v-model="dialog" max-width="90vw">
                    <v-card>
                        <v-card-title class="headline">{{ selectedItem?.stock_number }}</v-card-title>
                        <v-card-text style="padding: 0; height:90vh;">
                            <!-- 在這裡添加iframe -->
                            <iframe v-if="selectedItem"
                                :src="`${url}[${selectedItem.stock_number}]${selectedItem.Type.replace('*', '')}.html`"
                                width="80%" frameborder="0" style="padding: 0; height:80vh;">
                            </iframe>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" text @click="dialog = false">Close</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

            </v-container>
        </v-app>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    appmode: false,
                    sync: false,
                    para_type: null,
                    url: '',
                    jsonData: [],
                    headers: [],
                    appheaderscol: ['stock_number', '_quote', 'rt_price', 'rt_量', 'highlight_date', '遠交易量o'],
                    filters: {},
                    uniqueValues: {},
                    //sortBy: 'highlight_date',
                    //sortBy: ['_quote'],
                    sortBy :['量能差','MACD_%'],
                    sortDesc: [true ,true],
                    dialog: false,
                    selectedItem: null,
                    realtimedata: [],
                    paraDate: null,
                    filter1: 1,
                    filter2: -20,
                };
            },
            created() {
                this.url = window.location.href.split('/').slice(0, 4).join('/') + '/Html/'
                let urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('mode')) {
                    // &mode=app 
                    this.appmode = urlParams.get('mode') == 'app';
                }
                if (urlParams.has('sync')) {
                    this.sync = urlParams.get('sync') == 'Y';
                }
                this.init();
            },
            computed: {
                distinct_type() {
                    var result = [];
                    this.jsonData.reduce(function (res, value) {
                        var key = value.Typelevel  // Typelevel //+value.Trend
                        if (!res[key]) {
                            res[key] = { Typelevel: key, Volume_Price_Change_sum: 0 };
                            result.push(res[key])
                        }
                        res[key].Volume_Price_Change_sum += Number(value.Volume_Price_Change_sum);
                        return res;
                    }, {});
                    result.sort(function (a, b) {
                        return -(a.Volume_Price_Change_sum - b.Volume_Price_Change_sum);
                    });
                    return result
                },
                appheaderData() {
                    return this.headers.filter(x => this.appheaderscol.includes(x.text))
                },
            },
            methods: {
                computedHref(x) {
                    const baseUrl = window.location.href.split('/').slice(0, 4).join('/'); // 取得當前網站的根網址
                    return `${baseUrl}/index2.html?d=type&type=${this.sanitizedTypelevel(x)}`;
                },
                computedHref2(x) {
                    const baseUrl = window.location.href.split('/').slice(0, 4).join('/'); // 取得當前網站的根網址
                    let urlParams = new URLSearchParams(window.location.search);
                    return `${baseUrl}/index3.html?d=${urlParams.get('d')}&date=${urlParams.get('date')}&type=${this.sanitizedTypelevel(x)}`;
                },
                sanitizedTypelevel(x) {
                    return  x.Type1
                    //return x.Typelevel.replace('右上', '').replace('平', '').replace('右下', '');
                },

                async init() {
                    await this.loadExcelData();
                    if (this.sync) {
                        await this.sync_realtime();
                    }
                    this.loadExcelData();
                },
                async sync_realtime() {
                    var vm = this
                    try {
                        console.log('Starting the process...');
                        const result = await main(this.jsonData)
                            .then(result => {
                                console.log('Promise result:', result);   // 處理結果
                                vm.realtimedata = result
                            })
                    } catch (error) {
                        console.error('Error in init:', error);  // 捕獲初始化過程中的錯誤
                    }
                    console.log('done');  // 確保這個訊息在主流程完成後顯示
                },

                filteredData(x) {
                    return this.jsonData.filter(y => y.Typelevel == x)
                },
                appfilteredData(x) {
                    let cols = this.appheaderscol.slice() // 創造一個新的陣列副本
                    cols.push('Type0')
                    cols.push('Type')
                    cols.push('成交股數')
                    cols.push('now_price')

                    return this.jsonData.filter(y => y.Typelevel == x).map(item => cols.reduce((acc, col) => ({ ...acc, [col]: item[col] }), {}))
                },
                openDialog(item) {
                    this.selectedItem = item;
                    this.dialog = true;
                },
                openNextPage(i) {
                    let urlParams = new URLSearchParams(window.location.search);
                    const date = this.paraDate;
                    date.setDate(date.getDate() + i);
                    const nextDateStr = date.toISOString().split('T')[0]; // Format YYYY-MM-DD
                    const url = window.location.href.replace(urlParams.get('date'), nextDateStr);
                    window.open(url, '_blank');
                },
                actionFilter(i) {
                    var vm = this
                    vm.jsonData = vm.jsonData_.filter(x => parseInt(x.短交易量) > vm.filter1 && parseInt(x.遠交易量) > vm.filter2)
                },
                actionFilter2(i) {
                    var vm = this
                    vm.jsonData=vm.jsonData_.filter(x=>parseFloat(x['MACD_%'])>0 && parseFloat(x['均價_%']) >0 && parseFloat(x['價能']) >-0.5 && parseFloat(x['盤後量']) >1)
                    vm.sortBy='均價long_%'
                    //vm.jsonData=vm.jsonData.filter(x=>x.Type1!='金融保險')

                },
                isNumberField(field) {
                    return field !== 'stock_number' && this.jsonData.some(item => {
                        const value = item[field];
                        return value != null && !isNaN(parseFloat(value)) && isFinite(value);
                    });
                },
                getMinValue(field) {
                    const values = this.jsonData
                        .map(item => parseFloat(item[field]))
                        .filter(value => !isNaN(value));
                    return values.length ? Math.min(...values) : 0;
                },
                getMaxValue(field) {
                    const values = this.jsonData
                        .map(item => parseFloat(item[field]))
                        .filter(value => !isNaN(value));
                    return values.length ? Math.max(...values) : 100;
                },
                sync_data() {
                    this.jsonData.forEach(item => {
                        var price = this.realtimedata.filter(x => x.c == item.stock_number)[0]?.a
                        item.rt_price = (((price / item.now_price) - 1) * 100).toFixed(1)
                        var vol = this.realtimedata.filter(x => x.c == item.stock_number)[0]?.v
                        item.rt_量 = (vol / parseFloat(item.成交股數)).toFixed(1)
                    })
                },
                async loadExcelData() {
                    let urlParams = new URLSearchParams(window.location.search);
                    this.type = urlParams.get('type');
                    if (urlParams.get('d') == 'A') {
                        file = './Result/checkall/' + urlParams.get('date') + '.xlsx'
                        this.paraDate = new Date(urlParams.get('date'))
                    } else {
                        file = './Result/checksun_others/' + urlParams.get('date') + '.xlsx'
                        this.paraDate = new Date(urlParams.get('date'))
                    }
                    await fetch(file)
                        .then(response => response.arrayBuffer())
                        .then(data => {
                            const workbook = XLSX.read(data, { type: 'array' });
                            const sheetName = workbook.SheetNames[0];
                            const worksheet = workbook.Sheets[sheetName];
                            const json = XLSX.utils.sheet_to_json(worksheet, { header: 1 });

                            if (json.length > 0) {
                                this.headers = json[0].map(header => ({ text: header, value: header }));
                                this.$renameHeaders(this.headers);
                                this.jsonData = json.slice(1).map(row => {
                                    const rowData = {};
                                    this.headers.forEach((header, i) => {
                                        rowData[header.value] = row[i];
                                    });
                                    return rowData;
                                });
                                if (this.realtimedata.length > 0) {
                                    this.sync_data()
                                }

                                this.headers.forEach(header => {
                                    if (this.isNumberField(header.value)) {
                                        this.$set(this.filters, header.value, [
                                            this.getMinValue(header.value),
                                            this.getMaxValue(header.value),
                                        ]);
                                    } else {
                                        this.$set(this.filters, header.value, []);
                                    }
                                    this.$set(this.uniqueValues, header.value, []);
                                });

                                this.jsonData.forEach(row => {
                                    this.headers.forEach(header => {
                                        const value = row[header.value];
                                        if (value != null) {
                                            const strValue = value.toString();
                                            if (!this.uniqueValues[header.value].includes(strValue)) {
                                                this.uniqueValues[header.value].push(strValue);
                                            } else {
                                            }
                                        }
                                    });
                                });

                                if (this.type) {
                                    this.jsonData = this.jsonData.filter(x => x.Typelevel.includes(this.type));
                                }

                                this.jsonData_ = JSON.parse(JSON.stringify(this.jsonData))
                                Object.keys(this.uniqueValues).forEach(key => {
                                    this.uniqueValues[key] = this.uniqueValues[key].map(val => ({ text: val, value: val }));
                                    this.uniqueValues[key].sort((a, b) => a.text.localeCompare(b.text));
                                });
                            }
                        })
                        .catch(error => console.error('Error loading Excel file:', error));
                }
            }
        });
    </script>
</body>

</html>
