html {
    
    overflow-y: scroll;
    width: 100%;
}
body {
    font-family: "Source Sans Pro","Helvetica Neue", "Helvetica", "Arial,sans-serif", "Microsoft JhengHei", "Microsoft YaHei";
    font-size: 12pt;
}


#app,
.v-data-table>.v-data-table__wrapper>table {
	color: #16456d;
	background-color: #f1eeee4d;
}
.v-data-table>.v-data-table__wrapper>table>tbody>tr>td {
	padding:0 5px
}
.theme--light.v-data-table.v-data-table--fixed-header thead th {
    background: #f1eeee4d;
}

.textwordwrap{
	
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 30px;
}
.hightlight_line{
    border-left: dashed;
}
.hightlight_line_under {
     border-bottom: dashed !important;
}
.hightlight_line_box {
    background-color: #f5d5aa5e !important;
}
.line_box {
  /* background-color: lightgray;*/
    border: groove;
}
    